@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../font/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(../font/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../font/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2'), url(../font/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(../font/xkvoNo9fC8O2RDydKj12b_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(../font/xkvoNo9fC8O2RDydKj12bxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


body {
    overflow-y: scroll;
}

.bgm-action a {
    width: 8rem;
}

.bgm-editor {
    clear: both;
}

a.bgm-title {
    text-decoration: none;
}

.plus-row {
    height: 30rem;
}

.bgm-chk-modal {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     width: 100%;
     padding: 2em;
     box-sizing: border-box;
     background: rgba(255, 255, 255, 0.8);
     z-index: 5;
}

.bgm-chk-modal h6 a {
    color: inherit;
    margin-bottom: 0;
    padding-bottom: 0;
}
.bgm-chk-modal input {
     margin-bottom: 2em;
     width: 100%;
}

.body-hover {
    display: none;
     background-color: rgba(0, 0, 0, 0.8);
     width: 100%;
     height: 100%;
     position: fixed;
     z-index: 3;
     left: 0;
     top: 0;
}
